arena/
baseq2/
chaos/
geoip-db/
jump/
misc/
old/
opentdm/
rails/
sv/
tourney/
weapons/
xatrix/
zzlog/
*.bak
*.cfg
*.csv
*.db
*.db-journal
*.log
*.out
*.yml
.dbcast-credentials
.update-pass
.wallpass
.update-pass
.update-users
dblist.txt
q2wallfly
